<section class="section">
  <div class="container">
    <h1 class="title is-3">Посилання недійсне</h1>

    <p class="block">
      На жаль, це посилання не знайдено або термін його дії вичерпано.
    </p>

    <p class="block">
      Будь ласка, зверніться до адміністратора для отримання нового посилання.
    </p>
  </div>
</section>
