<h1>Загрузка документов</h1>

<%= form_with model: @document, local: true, multipart: true do |f| %>
  <div>
    <%= f.label :files, "Виберіть документи" %><br>
    <%= f.file_field :files, multiple: true %>
  </div>

  <div>
    <%= f.submit "Додати" %>
  </div>
<% end %>
