<!DOCTYPE html>

<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  </head>
  <body>
    <h1>Hello, <%= @author.name %>!</h1>
    <p>Please review and sign the document attached.</p>
    <p><a href="https://your-app.com/signing-link">Sign Document</a></p>
  </body>
</html>
