<aside class="menu">
  <p class="menu-label ">Розділи</p>
  <ul class="menu-list">
    <li>
      <%= link_to raw('<i class="fa-solid fa-file-contract"></i> Документи'), "#" %>
    </li>
    <li>
      <%= link_to raw('<i class="fa-solid fa-user-pen"></i> Автори'), "#" %>
    </li>
    <li>
      <%= link_to raw('<i class="fa-solid fa-gear"></i> Налаштуванна'), "#"%>
    </li>
  </ul>
</aside>
