<aside class="menu">
  <p class="menu-label has-text-weight-semibold">Розділи</p>
  <ul class="menu-list">
    <li>
      <%= link_to "Документи",
      documents_path,
      class: ("is-active" if current_page?(documents_path)) %>
    </li>
    <li>
      <%= link_to "Автори",
      authors_path,
      class: ("is-active" if current_page?(authors_path)) %>
    </li>
    <li><%= link_to "Налаштування", documents_path %></li>
  </ul>
</aside>
